# Merging the data in One column

In [1]:
#importing the library
import pandas as pd

#check whether header is there or not
data = pd.read_csv("csv/sample-1.csv", header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#creating the dictionary to store the all products in one column
product_dict = {"products": []}

for x in range(len(data)):
    l = []
    
    #removing the column with null values
    products = data.iloc[x,:].dropna()
    for y in range(len(products)):
        pro = products[y]
        l.append(pro)
        
    #removing the square bracket from the list
    l_s = ", ".join(l)
    product_dict["products"].append(l_s)

In [3]:
#converting to Dataframe
products_df = pd.DataFrame(product_dict)
#products_df.to_csv("D:\Datasets\MBA\products.csv", index=False)
products_df.head()

                                            products
0  shrimp, almonds, avocado, vegetables mix, gree...
1                           burgers, meatballs, eggs
2                                            chutney
3                                    turkey, avocado
4  mineral water, milk, energy bar, whole wheat r...

# Label Encoder

In [4]:
#importing the library
import pandas as pd

#we can also get the  column name if we have many features
df = pd.read_csv("csv/products.csv")
df.head()

                                            products
0  shrimp, almonds, avocado, vegetables mix, gree...
1                           burgers, meatballs, eggs
2                                            chutney
3                                    turkey, avocado
4  mineral water, milk, energy bar, whole wheat r...

In [5]:
pro = input("enter the col name: ")

enter the col name: products

In [6]:
#creating the list to identify the unique products in the data
pro_list = []
for i in range(len(df)):
    pro_row = df[pro][i]
    d1= pro_row.split(",")
    for x in range(len(d1)):
        df1 = d1[x].strip()
        if df1 not in pro_list:
            pro_list.append(df1)
            
#print(pro_list)

In [7]:
#creating the list to identify the unique products in the data
pro_list = []
for i in range(len(df)):
    pro_row = df['products'][i]
    d1= pro_row.split(",")
    for x in range(len(d1)):
        df1 = d1[x].strip()
        if df1 not in pro_list:
            pro_list.append(df1)
            
#print(pro_list)

#creating the dictionary to store whether they buy or not 1 or 0
dict_list = {}
for i in range(len(pro_list)):
    dict_list[pro_list[i]] = []
#print(dict_list)

#crerating the function to store the right value
def values(ch):
    for i in range(len(dict_list)):
        n = list(dict_list.keys())[i]
        if n in ch:
            dict_list[n].append(1)
        else:
            dict_list[n].append(0)

for i in range(len(df)):
    d9 = df['products'][i]
    d10= d9.split(",")
    #print(d10)
    li = []
    for x in range(len(d10)):
        df2 = d10[x].strip()
        li.append(df2)
    values(li)

In [8]:
new_df = pd.DataFrame(dict_list)
new_df.head()
#new_df.to_csv("cleaned_data.csv", index= False)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,...,babies food,melons,cauliflower,green beans,ketchup,bramble,burger sauce,oatmeal,cream,napkins
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0